@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Gilda+Display&family=Sora:wght@100..800&display=swap');


.gilda-display-regular {
    font-family: "Gilda Display", serif;
    font-weight: 400;
    font-style: normal;
  }


  
  .barlow-condensed-extralight {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .barlow-condensed-light {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .barlow-condensed-regular {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .barlow-condensed-medium {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .barlow-condensed-semibold {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .barlow-condensed-bold {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: normal;
  }

  
  .barlow-condensed-thin-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .barlow-condensed-extralight-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .barlow-condensed-light-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .barlow-condensed-regular-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .barlow-condensed-medium-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .barlow-condensed-semibold-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .barlow-condensed-bold-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .barlow-condensed-extrabold-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .barlow-condensed-black-italic {
    font-family: "Barlow Condensed", sans-serif;
    font-weight: 900;
    font-style: italic;
  }
  
  @keyframes move {
    from {
      transform: translateY(-10px);
    }
    to {
      transform: translateY(10px);
    }
  }
  
  .animated-element {
    animation: move 2s infinite ease alternate;
  }

  .banner{
    background: url('/app/assert/home.png');
    width: 100%;
  
    background-color: #F8F5F0;
    background-position: bottom left;
    background-repeat: no-repeat;
  }
.cta-hero {
    position: relative;
    padding: 10px 20px;
    border: 1px solid white;
    overflow: hidden;
    /* Ensure the hover effect doesn't exceed the boundary */
    text-decoration: none;
    cursor: pointer;
}

.cta-hero span {
    position: relative;
    /* Ensure the text stays above the overlay */
    z-index: 2;
    /* This ensures the text is above the hover effect */
}

.hover-effect {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background-color: #aa8453;
    z-index: 1;
    /* This ensures the hover effect is behind the text */
    transition: all 0.5s ease-in-out;
}

.cta-hero:hover .hover-effect {
    width: 100%;
    left: 0;
}

.cta-hero:hover {
    border-color: #aa8453;
}

.custom-pagination {
    display: flex;
    justify-content: center;
}

.pagination-bullet {
    position: relative;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: white;
    margin: 0 10px;
    cursor: pointer;
}

.pagination-bullet.active {}

.pagination-bullet.active::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    transform: translate(-50%, -50%);
}

.mid-box div {
    position: relative;
}

.mid-box div:hover::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: #aa8453;
    width: 5px;
    height: 70%;
    border-radius: 20px;
}

.bottom-box div {
    position: relative;
    cursor: pointer;
    z-index: 100;
}

.bottom-box div::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #aa8453;
    transition: all 0.4s ease-in-out;
    z-index: 98;
    width: 0;
}

.bottom-box div:hover::before {
    width: 100%;
    left: 0;
}
