@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-display: swap;
        src: url('https: //fonts.googleapis.com/css2?family=Gilda+Display&display=swap" rel="stylesheet') format('woff2');
        /* Example URL */
    }
}
.cta-hero {
    position: relative;
    overflow: hidden;
    /* Ensure the hover effect doesn't exceed the boundary */
    text-decoration: none;
    cursor: pointer;
}

.cta-hero span {
    position: relative;
    /* Ensure the text stays above the overlay */
    z-index: 2;
    /* This ensures the text is above the hover effect */
}

.hover-effect {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    background-color: #aa8453;
    z-index: 1;
    /* This ensures the hover effect is behind the text */
    transition: all 0.5s ease-in-out;
}

.cta-hero:hover .hover-effect {
    width: 100%;
    left: 0;
}

.cta-hero:hover {
    border-color: #aa8453;
}

.custom-pagination {
    display: flex;
    justify-content: center;
}

.pagination-bullet {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: white;
    margin: 0 10px;
    cursor: pointer;
}

.pagination-bullet.active {}

.pagination-bullet.active::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    border: 1px solid white;
    transform: translate(-50%, -50%);
}

.mid-box div {
    position: relative;
}

.mid-box div:hover::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: #aa8453;
    width: 5px;
    height: 70%;
    border-radius: 20px;
}

.bottom-box div {
    position: relative;
    cursor: pointer;
    z-index: 100;
}

.bottom-box div::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background-color: #aa8453;
    transition: all 0.4s ease-in-out;
    z-index: 98;
    width: 0;
}

.bottom-box div:hover::before {
    width: 100%;
    left: 0;
}

.desk-nav-items a {
    cursor: pointer;
    position: relative;
}

.desk-nav-items a::before {
    content: '';
    position: absolute;
    width: 0%;
    height: 5px;
    border-radius: 5px;
    background-color: #aa8453;
    bottom: 0;
    transition: width .3s ease-in-out;
}

.desk-nav-items a:hover::before {
    width: 100%;
}

a[aria-current="page"] {
    content: "";
    border-bottom: 5px solid #aa8453;
    border-radius: 5px;
}

.icon-box {
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    ;
}